<!--users-->
<div class="box">
  <div class="text-center">
    <h1>会員登録</h1>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      
      <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <%= f.label :name, 'Name', class: "form-text" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <%= f.label :email, 'Email', class: "form-text" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <%= f.label :password, 'Password', class: "form-text" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        <%= f.label :password_confirmation, 'Confirmation', class: "form-text" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit '登録する', class: 'btn btn-success' %>
      </div>
      <% end %>
      <br>
      <p class="user-confirmation">アカウントをお持ちですか？ <%= link_to 'ログイン', login_path %></p>
    </div>
  </div>
</div>